@model IEnumerable<salaoDaLora.Models.Servico>

@{
    ViewData["Title"] = "Lista de Serviços";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Inserir Novo Serviço</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nome do Serviço</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Descricao</td>
                <td>@item.Preco</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ServicoId" class="btn btn-info">Detalhes</a>
                    <a asp-action="Edit" asp-route-id="@item.ServicoId" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.ServicoId" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
