@model IEnumerable<salaoDaLora.Models.Cliente>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Inserir Novo Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Telefone</td>
                <td>@item.Email</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ClienteId" class="btn btn-info">Detalhes</a>
                    <a asp-action="Edit" asp-route-id="@item.ClienteId" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.ClienteId" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
